<footer>
  <div class="container">
    <h3>Contact Info</h3>
    <div class="footer-seperator"></div>
    <p><%= fa_icon "map-marker", text: "US Veterans Star Alliance Network PO Box 770812 Orlando, FL 32837-9998" %></p>
    <p><%= fa_icon "phone", text: "888-US-VET-20" %></p>
    <p><%= fa_icon "envelope", text: "admin@usvetstar.org" %></p>
    <p><%= fa_icon "globe", text: "www.usvetstar.org" %></p>
  </div>
  <div class="footer-copyright">
      <div class="container">
        <p class="footer-copyright-text">Copyright 2016</p>
        <div class="footer-shared-menu"><%= render "shared/shared_menu" %></div>
      </div>
  </div>
</footer>